
<div class="container home-container">
  <div class="row home">
      <div class="col-md-12 colxs-12">
        <p>The current understanding of a media company is based on the idea of a publisher or broadcaster producing or aggregating, bundling, and distributing content. In this scenario, the content creation mainly is done by professionals. However, with the advent of mobile devices and ubiquitous Internet access, users have been enabled to produce content themselves. This gave rise to a new form of media companies: the platform operators, who aggregate, manage, and distribute user-generated content. Based on a historical summary, this article delineates the characteristics of this new approach of content distribution, draws comparisons to the traditional media companies, derives implications for the media markets, and provides a definition for the term media company that is valid in both the online and offline world.</p>
        <div style="margin-top: 30px;">
            <h3>What Does a Media Company Do?</h3>
            <p>
                Let’s focus on the activities of publishers as an example of a media company. Publishers provide readers with different info: breaking news, investigations, reviews, etc. Some media cover many topics – politics, business, economics, health, etc. Others specialize in one specific niche for their publications. 
            <br>
            Besides print, publishers also put their content online. With websites, they have more opportunities to engage visitors. Besides text and photos, media companies create audio and video content. They can use platforms such as YouTube to interact with their audience in additional ways.
          </p>
        </div>
      </div>
    </div></div>  