
<div class="container home-container">
  <div class="col-md-6 colxs-7"><div class="row"><textarea [mention]="userList" placeholder="Search user" [mentionConfig]="{labelKey:'userid',mentionSelect: selection}" class="form-control" cols="20" rows="2"></textarea></div></div>    
<div class="col-md-12 colxs-12 home">
    <div class="row">
<div style="margin-top: 30px;">
	<h3>1. Why were client-side frameworks like Angular introduced?</h3>
	<p>
    Back in the day, web developers used VanillaJS and jQuery to develop dynamic websites but, as the logic of one's website grew, the code became more and more tedious to maintain. For applications that use complex logic, developers had to put in extra effort to maintain separation of concerns for the app. Also, jQuery did not provide facilities for data handling across views.
    <br>
    For tackling the above problems, client-side frameworks like Angular came into the picture, which made life easier for the developers by handling separation of concerns and dividing code into smaller bits of information (In the case of Angular, called Components).
    <br>
    Client-side frameworks allow one to develop advanced web applications like Single-Page-Application. Not that we cannot develop SPAs using VanillaJS, but by doing so, the development process becomes slower.
    <br>
  </p>

  <h3>2. What are some of the advantages of Angular over other frameworks?</h3>
  <li>
    <b>Features that are provided out of the box -</b>
Angular provides a number of built-in features like,routing, state management, rxjs library and http servicesstraight out of the box. This means that one does not need tolook for the above stated features separately. They are allprovided with angular.
  </li>
  <li>
    <b>Declarative UI - </b>
Angular uses HTML to render the UI of an application. HTML isa declarative language and is much easier to use than JavaScript.</li>
<li>
    <b>Long-term Google support - </b>
Google announced Long-term support for Angular. This means that Google plans to stick with Angular and further scale up its ecosystem.
 </li>
 <h3>3. List out differences between AngularJS and Angular</h3>
 <h4><b>Architecture</b></h4>
 <p>
    AngularJS uses MVC or Model-View-Controller architecture, where the Model contains the business logic, Controller processes information and View shows the information present in the Model.
    <br> Angular replaces controllers with Components. Components are nothing but directives with a predefined template.
      </p>
      <h4><b>Language</b></h4>
      <p>
        AngularJS uses JavaScript language, which is a dynamically typed language. <br>
        Angular uses TypeScript language, which is a statically typed language and is a superset of JavaScript. By using statically typed language, Angular provides better performance while developing larger applications.
          </p>
          <h4><b>Mobile Support</b></h4>
          <p>
            AngularJS does not provide mobile support.
            <br>
            Angular is supported by all popular mobile browsers.
          </p>
          <h4><b>Structure</b></h4>
          <p>
            While developing larger applications, the process of maintaining code becomes tedious in the case of AngularJS.
            <br>
            In the case of Angular, it is easier to maintain code for larger applications as it provides a better structure.
          </p>
          <h4><b>Expression Syntax</b></h4>
          <p>
            While developing an AngularJS application, a developer needs to remember the correct ng-directive for binding an event, or a property.
            Whereas in Angular, property binding is done using "[ ]" attribute and event binding is done using "( )" attribute.
          </p>
</div>
</div>
</div>
</div>